# NATS Configuration
NATS_URL=nats://localhost:4222

# Docker Registry Configuration
DOCKERHUB_USERNAME=your_dockerhub_username
DOCKERHUB_TOKEN=your_dockerhub_token_or_password

# Buildpacks Configuration
PACK_VOLUME_KEY=mira-pack-cache

# Cloud Platform Configuration
CRANECLOUD_API_HOST=https://api.cranecloud.io

# Frontend Configuration
FRONTEND_REDIRECT_URL=

# GitHub OAuth Configuration
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=
GITHUB_ACCESS_TOKEN=

# GitLab OAuth Configuration
GITLAB_CLIENT_ID=
GITLAB_CLIENT_SECRET=
GITLAB_REDIRECT_URI=